@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --text-primary: #ffffff;
    --text-secondary: #C0C0C0;
    --button-color: #167bf7;
    --background-main: #00030C;
    --font-main: 'Ubuntu', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-main);
    color: var(--text-primary);
    box-sizing: border-box;
}

.main {
    justify-content: center;
}

.header {
    padding: 2% 0% 0% 7.5%;
}

.header_menu {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.header_link {
    color: var(--text-primary);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;

}

.container {
    display: flex;
    width: 100%;
    position: relative;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

h1 {
    display: flex;
    text-align: center;
    color: var(--text-primary);
    z-index: 1;
    margin: 10% 0% 0% 0%;
    font-family: var(--font-main);
    font-size: 1.75rem;
    font-weight: 700;
    max-width: 500px;
}

.yfrit {
    width: 40%;
    height: auto; 
    margin: 20px 20;
    padding: 3% 3% 3% 3%;
}

.primateria {
    width: 55%; 
    height: auto;
    margin: 0% 4% 0% 0%;
}

.button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 1em;
    color: var(--text-primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    z-index: 1;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
}

.container-img{
    width: 50%;
    height: auto; 
    margin: 0% 0% 0% 2%;
    padding: 3% 3% 3% 3%;
    align-items: center;
    margin-left: 8%;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-primary);
}

.container-title {
    font-size: 4rem;
    font-family: var(--font-main);
    font-weight: 700;
}

.container-subtitle {
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 200;
}

.dailydeck-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-primary);
    margin-left: 11%;
}

.deckselector {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 400px;
}

.knowmore {
    text-align: center;
}

.knowmore-lists {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lists-images {
    width: 80%;
    height: auto;
}

.knowmore-title {
    font-size: 4rem;
    font-family: var(--font-main);
    color: var(--font-main);
    margin: 0% 0% 2% 0%;
}

.list-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 400px;
    margin: 0% 0% 10% 18%;
    font-family: var(--font-main);
    color: var(--font-main);
}

.footer-style {
    text-align: center;
}

.logo-footer {
    width: 15%;
    height: auto;
    margin: 0% 0% 2% 0%;
}

.footer-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0% 35% 0% 35%;
    margin: 0% 0% 1% 0%;

}

.footer-list-links {
    font-family: var(--font-secondary);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-primary);
}

.footer-text {
    margin: 0% 0% 1% 0%;
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--text-secondary);
}

.footer-list a:hover  {
    color: var(--button-color);
}

.header_menu a:hover {
    color: var(--button-color);
}